.l-row {
  clear: both;
  margin-left: -7%;
}

.l-single {
  width: 43%;
  margin-left: 7%;
  float: left;
}

.l-double {
  width: 93%;
  margin-left: 7%;
  float: left;
}

.content {
  padding: 0 36px;
}