@import 'compass/css3';

// Color Variables

$red: #d95454;
$black: #171717;
$grey: #323334;
$light-grey: #323334;
$header-text: #5e5e5e;
$white: #d1d2d4;

// Breakpoints

$breakpoint-1: 43.75em;
$breakpoint-2: 46.875em;