.date {
  margin-bottom: 16px;
  font-family: octin-sports, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;

  i {
    display: none;
  }

  b {
    display: inline;
  }
}

.primary {
  position: relative;
}

.no-csstransforms .primary {
  padding-top: 0;
}

.logo {
  margin: 36px 0 48px;
  left: 50%;
  top: 0;

  font-family: octin-sports, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

.no-csstransforms .logo {
  position: static;
  padding: 0;

  span {
    position: static;
  }
}

.heading {
  margin-bottom: 18px;
  padding: 0 10px;

  background-color: $white;
  background-image: url('../img/border-left.png'),
                    url('../img/border-right.png');
  background-position: top left, top right;
  background-repeat: no-repeat;

  color: $red;
}

@media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){

.heading {
  background-image: url('../img/border-left@2x.png'),
                    url('../img/border-right@2x.png');
  @include background-size(20px);
}
}

.accent {
  background: $blue;
}

.football {
  width: 275px;
  display: block;
  margin: 0 auto 36px;
  position: relative;
  z-index: 2;

  @include transition(0.3s ease-out);
}

.csstransitions .football:hover {
  @include transform(rotate(-25deg));
}

.sponsors {
  margin: 20px 0 16px;
  text-align: center;

  a {
    display: inline-block;
    vertical-align: middle;
    margin: 12px 10px;
  }

  img {
    width: 150px;
    position: relative;
    display: block;
  }
}

.small-sponsors {
  padding: 0;
  margin: 36px 0;
  margin-left: -36px;

  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin-left: 36px;
    width: 150px;
  }

  img {
    display: block;
  }

  a {
    display: block;
    padding: 10px;

    background: $white;
  }
}

.details {
  margin-top: 72px;

  font-size: 13px;
  text-align: center;
}

.map {
  height: 400px;
  margin: 36px 0;
}

.judges {
  padding: 0;
  margin-bottom: 36px;

  list-style: none;

  li {
    margin-bottom: 16px;
  }

  img {
    width: 80px;
    padding: 10px;
    display: block;
    float: left;
    margin-right: 20px;

    background: $white;
  }

  a {
    text-decoration: none;
  }
}

.judges-name {
  margin: 7px 0 6px;

  font-size: 18px;
  font-family: octin-sports, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.judges-bio {
  margin: 0;

  font-size: 16px;
  line-height: 1.5;
}

.superbowl {
  font-family: octin-sports, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;

  b {
    display: block;

    font-weight: normal;
  }
}

.content {
  padding: 0 16px;
}

@media only screen and (min-width: $breakpoint-1) {

.primary {
  padding-top: 176px;
}

.logo {
  padding-right: 65px;
  margin-left: -32.5px;
  height: 92px;
  position: absolute;

  line-height: 1.5;

  span {
    position: absolute;
    width: 65px;
    height: 375px;

    -webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom-center;
  }

  @for $i from 1 through 15 {
    .char#{$i} {
      @if $i == 8 {
        @include transform(rotate(($i*9) - 73deg)); // Kerning
      } @else if  $i == 14 {
        @include transform(rotate(($i*9) - 71deg)); // Kerning
      } @else {
        @include transform(rotate(($i*9) - 71.5deg));
      }
    }
  }

}

  .sponsors img {
    display: inline;
  }

  .date {

    i {
      display: inline;
    }

    b {
      display: none;
    }
  }

  .superbowl b {
    font-size: 80px;
  }

}

@media only screen and (min-width: $breakpoint-2) {

.content {
  padding: 0 36px;
}

}